<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>chatchat</title>
  </head>
  <body>
    <div class="photo">
    <%= image_tag 'mori.jpg',:size => "1200x500"%>
    </div>
  </body>