<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>chatchat</title>
  </head>
  <body>

    <div class ="wrapper">
    </div>
    <h2>新規投稿画面</h2>
    <%= render 'form' %>
    

    
  </body>
</html>